<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twbang.product_management.mapper.DashboardMapper">
    <select id="getTotalProductCnt" resultType="java.lang.Integer">
        select count(*) from product_info
    </select>
    <select id="getSellProductCnt" resultType="java.lang.Integer">
        select count(*) from product_info where pi_sell=1
    </select>
    <select id="getNonpurchaseProductCnt" resultType="java.lang.Integer">
        select count(*) from product_info where pi_sell=2
    </select>
    <select id="getFixProductCnt" resultType="java.lang.Integer">
        select count(*) from product_info where pi_as=1
    </select>

    <select id="getTotalSellerCnt" resultType="java.lang.Integer">
        select count(*) from seller_info
    </select>
    <select id="getWaitSellerCnt" resultType="java.lang.Integer">
        select count(*) from seller_info where si_status=1
    </select>
    <select id="getSuspendedSellerCnt" resultType="java.lang.Integer">
        select count(*) from seller_info where si_status=2
    </select>

    <select id="getTotalBuyerCnt" resultType="java.lang.Integer">
        select count(*) from buyer_info
    </select>
    <select id="getWaitBuyerCnt" resultType="java.lang.Integer">
        select count(*) from buyer_info where bi_status=1
    </select>
    <select id="getSuspendedBuyerCnt" resultType="java.lang.Integer">
        select count(*) from buyer_info where bi_status=2
    </select>

    <select id="getTotalPMCnt" resultType="java.lang.Integer">
        select count(*) from product_manager_info 
    </select>
    <select id="getWorkPMCnt" resultType="java.lang.Integer">
        select count(*) from product_manager_info where pmi_status=0
    </select>
    <select id="getDayoffPMCnt" resultType="java.lang.Integer">
        select count(*) from product_manager_info where pmi_status=1
    </select>

    <select id="getTotalPGMCnt" resultType="java.lang.Integer">
        select count(*) from web_manager_info 
    </select>
    <select id="getWorkPGMCnt" resultType="java.lang.Integer">
        select count(*) from web_manager_info where wmi_status=0
    </select>
    <select id="getDayoffPGMCnt" resultType="java.lang.Integer">
        select count(*) from web_manager_info where wmi_status=1
    </select>

    <select id="getProductUpdateDate" resultType="java.util.Date">
        select ph_reg_dt from product_history order by ph_reg_dt desc limit 1
    </select>
    <select id="getSellerUpdateDate" resultType="java.util.Date">
        select sh_reg_dt from seller_history order by sh_reg_dt desc limit 1
    </select>
    <select id="getBuyerUpdateDate" resultType="java.util.Date">
        select bh_reg_dt from buyer_history order by bh_reg_dt desc limit 1
    </select>
    <select id="getProductManagerUpdateDate" resultType="java.util.Date">
        select pmh_reg_dt from product_manager_history order by pmh_reg_dt desc limit 1
    </select>
</mapper>