<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twbang.product_management.mapper.ProductMapper">
    <select id="getProductInfo" resultType="com.twbang.product_management.data.ProductVO">
        select * from product_info order by pi_seq desc limit 10 offset #{offset}
    </select>
    <select id="getProductCount" resultType="java.lang.Integer">
        select count(*) from product_info
    </select>
    <insert id="addProduct">
        insert into product_info(pi_name,pi_sub,pi_price,pi_sell,pi_as)
        values
        (#{pi_name},#{pi_sub},#{pi_price},#{pi_sell},#{pi_as})
    </insert>
    <delete id="deleteProduct">
        delete from product_info where pi_seq=#{seq}
    </delete>
</mapper>