main {background-color: #f3f3f3; position: relative;}
main > h1 {font-size: 36px; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #ddd;}
#add_productmanager {
    position: absolute; right: 35px; top: 30px;
    border: 0; background-color: rgb(97, 118, 241); color: #fff;
    width: 170px; height: 40px; border-radius: 5px; font-size: 14px; font-weight: 300;
    cursor:pointer;
}
#add_productmanager i {margin-right: 5px;}
#add_productmanager:hover {background-color: rgb(21, 51, 219);}
.search_box {background-color: #fff; display: inline-block; vertical-align: middle;
    padding: 10px 20px; border-radius: 99px; margin-right: 20px;
}
.search_box input {border: 0; padding: 0; margin: 0; outline: none; color: #434343;}
.search_box input::placeholder {color: #ddd;}
.search_box button {color: #333; bottom: 0; padding: 0; margin: 0; background-color: transparent;
    outline: none; cursor: pointer;
}

#reset_btn {border: 0; background-color: rgb(97, 118, 241); color: #fff; width: 80px; height: 35px;
    border-radius: 99px; cursor: pointer;
}
#reset_btn:hover {background-color: rgb(21, 51, 219);}

.table_area table {width: 100%; margin-top: 30px; border-collapse: separate;
    border-spacing: 0 15px;}

.table_area td {text-align: center;}

.table_area th {color: #999; font-weight: 400; padding: 20px 0; padding-bottom: 5px;}
.table_area tbody tr {padding-bottom: 10px; border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.05);
}
.table_area tbody td {padding: 15px 0; background-color: rgb(212, 217, 245); margin-bottom: 10px; font-size: 14px;
    color: #333;
}
.table_area tbody td:first-child {border-radius: 5px 0 0 5px;}
.table_area tbody td:last-child {border-radius: 0 5px 5px 0;}
.table_area tbody td button {margin: 0 5px; background-color: transparent; border: 0; padding: 0;
font-size: 20px; cursor: pointer;
}
.modify_btn {color: rgb(73,73,93);}
.delete_btn {color: rgb(224,81,81);}

.pager_area {text-align: center; padding-top: 30px;}
.pagers {display: inline-block; vertical-align: middle;}
.pager_area button {vertical-align: middle; display: inline-block; padding: 0; background-color: transparent;
    border: 0; margin: 10px; position: relative; top: 2px;
    font-size: 20px; color: #434343; cursor: pointer;
}
.pagers a {color: #555; text-decoration: none; margin: 10px;}
.pagers a.current {color: #000; text-decoration: underline; font-weight: 7;}

#nodata {
    font-size: 20px; font-weight: 700; color: #999;
    padding: 20px 0; background-color: rgba(255,255,255,0.5);
}

.popup_wrap {
    position: fixed; width: 100vw; height: 100vh; left: 0; top: 0;
    background-color: rgba(0,0,0,0.3); display: none;
}
.popup_wrap.open {display: block;}
.popup {
    position: fixed; left: 50%; top: 50%; background-color: #fff;
    margin-left: -150px; margin-top: -465px;
    z-index: 999999; padding: 35px 0; width: 500px;
    border-radius: 5px;
}
.popup .top_area {text-align: center; padding-bottom: 40px; border-bottom: 1px solid #ccc;}
.popup .ico {
    width: 80px; height: 80px; text-align: center;
    background-color: #666; color: #fff; font-size: 36px; line-height: 70px;
    border-radius: 999px; display: inline-block;
}
.popup .top_area h2 {margin-top: 20px; font-size: 24px;}
.popup .top_area p {margin-top: 10px; color: #555;}

.popup .content_area {padding: 40px 0; width: 350px; margin: 0 auto; font-size: 0;
    padding-bottom: 20px;
}
.popup .content_area #search_cate {padding: 0; margin: 0; border: 1px solid #ccc;
    font-size: 16px; font-weight: 400; padding: 10px 20px; box-sizing: border-box;
    border-radius: 15px; margin-bottom: 15px; outline:  none;}
#pm_cate {width: calc(63% - 10px); padding: 0; margin: 0; border: 1px solid #ccc;
    font-size: 16px; font-weight: 400; padding: 10px 20px; box-sizing: border-box;
    border-radius: 15px; margin-bottom: 15px; outline:  none;}
#pm_id,#pm_pwd,#pm_pwd_confirm,#pm_birth,#pm_email,#pm_name, #pm_address, #pm_phone_number, #pm_status {width: 100%; padding: 0; margin: 0; border: 1px solid #ccc;
    font-size: 16px; font-weight: 400; padding: 10px 20px; box-sizing: border-box;
    border-radius: 15px; margin-bottom: 15px; outline:  none;
}
.btn_area {text-align: center;}
.btn_area button {
    border: 0; font-size: 18px; padding: 10px 20px; margin: 0 10px; color: #fff;
    cursor: pointer; border-radius: 15px;
}
.btn_area #add_pm {background-color: rgb(151, 165, 245);}
.btn_area #add_pm:hover {background-color: rgb(21,51,219);}
.btn_area #modify_pm {background-color: rgb(151,165,245);}
.btn_area #modify_pm:hover {background-color: rgb(21,51,219);}
.btn_area #cancel_pm {background-color: rgb(255,194,194);}
.btn_area #cancel_pm:hover {background-color: rgb(255,83,83);}

.category_search {
    position: fixed; z-index: 99999999; background-color: #fff;
    left: 50%; margin-left: -75px; top: 50%; margin-top: -150px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3); width: 350px; display: none;
    border-radius: 15px;
}
.cate_search_box {
    padding: 0 10px; font-size: 0; border-bottom: 1px solid #000;
}
.cate_search_box * {font-size: 18px;}
.cate_search_box input {
    bottom: 0; padding: 0; margin: 0; outline: none; width: 80%;
    padding: 10px 0; border-radius: 15px;
}
.dep_search_box button {
    bottom: 0; padding: 0; margin: 0; outline: none; cursor: pointer; width: calc(20% - 10px);
    position: absolute; right: 10px; top: 50px; background-color: transparent; color: #666;
    border-radius: 15px;
}
.search_result {
    min-height: 300px; overflow-y: scroll; height: 200px;   
}
.search_result ul li {
    padding: 10px;
}
.search_result a {
    text-decoration: none; color: #555; display: inline-block; vertical-align: middle;
}
.search_result a:hover {
    text-decoration: underline; color: #333; font-weight: 700;
}
.search_result span {
    font-size: 11px; display: inline-block; vertical-align: middle; padding: 5px 10px; margin-left: 10px;
    color: rgb(119, 114, 114); background-color: #333; border-radius: 20px;
}
.search_result .status0 {background-color: rgb(17,226,27);}
.search_result .status1 {background-color: rgb(251,186,64);}
.search_result .status2 {background-color: rgb(255,110,26);}
.search_result .status3 {background-color: rgb(255,23,23);}
.cate_search_buttons {text-align: center; padding: 10px; border-top: 1px solid #ddd;
    background-color: #f3f3f3;}
#cate_search_close {border: 0; background-color: #666; color: #fff;
    border-radius: 3px; width: 80px; height: 30px; cursor: pointer;
    }